@charset "utf-8";
/* font */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Playfair+Display|Special+Elite|Noto+Sans+JP|Noto+Serif+JP|Sawarabi+Mincho|Sawarabi+Gothic|Amiri|Markazi+Text|Cardo|Lato|Montserrat|Open+Sans|Oswald|Raleway|Roboto|Josefin+Sans|Quicksand|Rajdhani|Slabo+13px|Caveat|Courgette|Satisfy|Staatliches|Amatic+SC&display=swap');

@font-face {
  font-family: '8bitOperatorPlus-Bold';
  src: url("../assets/fonts/8bitOperatorPlus-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/8bitOperatorPlus-Bold.woff") format("woff"), url("../assets/fonts/8bitOperatorPlus-Bold.ttf") format("truetype"), url("../assets/fonts/8bitOperatorPlus-Bold.svg#8bitOperatorPlus-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JF-Dot-Shinonome-14-Regular';
  src: url("../assets/fonts/JF-Dot-Shinonome-14-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/JF-Dot-Shinonome-14-Regular.woff") format("woff"), url("../assets/fonts/JF-Dot-Shinonome-14-Regular.ttf") format("truetype"), url("../assets/fonts/JF-Dot-Shinonome-14-Regular.svg#JF-Dot-Shinonome-14-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* reset end */


/* en */
.font_satisfy{
font-family: 'Satisfy', cursive;
}
.font_courgette{
font-family: 'Courgette', cursive;
}
.font_caveat{
font-family: 'Caveat', cursive;
}
.font_josefin_sans{
font-family: 'Josefin Sans', sans-serif;
}
.font_quicksand{
font-family: 'Quicksand', sans-serif;
}
.font_slabo_13px{
font-family: 'Slabo 13px', serif;
}
.font_rajdhani{
font-family: 'Rajdhani', sans-serif;
}
.font_lato{
font-family: 'Lato', sans-serif;
}
.font_roboto{
font-family: 'Roboto', sans-serif;
}
.font_oswald{
font-family: 'Oswald', sans-serif;
}
.font_raleway{
font-family: 'Raleway', sans-serif;
}
.font_opensans{
font-family: 'Open Sans', sans-serif;
}
.font_montserrat{
font-family: 'Montserrat', sans-serif;
}
.font_cardo{
    font-family: 'Cardo', serif;
}

.font_amiri{
    font-family: 'Amiri', serif;
}
.font_markazi_text{

    font-family: 'Markazi Text', serif;
}
.font_amatic_sc{
    font-family: 'Amatic SC', cursive;
}
.font_playfair_display{
    font-family: 'Playfair Display', serif;
}
.font_specialelite{
    font-family: 'Special Elite', cursive;
}
/* jp */
.font_note_sans_jp{
    font-family: 'Noto Sans JP', sans-serif;
}
.font_note_serif_jp{
    font-family: 'Noto Serif JP', serif;
}
.font_sawarabi_mincho{
    font-family: 'Sawarabi Mincho', sans-serif;
}
.font_sawarabi_gothic{
    font-family: 'Sawarabi Gochic', sans-serif;
}
.font_kokoro_jp{
    font-family: "kokoro";
}

.font_amatic{
    font-family: 'Amatic SC', cursive;
}
.font_8bit{
    font-family: "8bitOperatorPlus-Bold","JF-Dot-Shinonome-14-Regular", monospace;

}
.font_apple{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Hiragino Kaku Gothic ProN,"メイリオ",meiryo,sans-serif;

}
/* font end */

html{
    font-size: 62.5%;
}
body{
    font-family: 'kokoro','Amiri','Noto Serif JP',"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color: #967c5e;
    font-size: 1rem;
}
*{
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
img{
    vertical-align: top;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.tc{
    text-align: center;
}
.bk_alpha{
    background-color: rgba(255,255,255,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
}
.opa1{
    opacity: 1 !important;
}

.opa0{
    opacity: 0 !important;
}

.obj_down{
    top: -4rem !important;
}
.obj_up{
    top: 4rem !important;
}

a{
    text-decoration: none;
    color: #967c5e;
}
a:hover{
    opacity: 0.5;
}
a:active{
    opacity: 0.5;
}
a:visited{
}
.obj_hide_left{
    left: -100vw !important;
}
.hide{
    display: none;
}
#loading{
    width:100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    text-align:center;
    padding-top: 35vh;
    transition: 1s all ease 0s;
    -moz-transition: 1s all ease 0s;
    -o-transition: 1s all ease 0s;
    -webkit-transition: 1s all ease 0s;
    z-index: 2000;

}
#loading img{
    height: 15%;
    position: relative;
    animation: loading_parts8 3s ease 0s infinite normal;
}
#loading p{
    font-family: 'Amatic SC', cursive;
    margin-top: 0.5em;
    font-size: 3em;
    letter-spacing: 0.5em;
    font-weight: bold;
}
#loading p span{
    position: relative;
    top: 0;
}
#loading p span:first-child{
    animation: loading_parts1 3s ease 0s infinite normal;
}
#loading p span:nth-child(2){
    animation: loading_parts2 3s ease 0s infinite normal;
}
#loading p span:nth-child(3){
    animation: loading_parts3 3s ease 0s infinite normal;
}
#loading p span:nth-child(4){
    animation: loading_parts4 3s ease 0s infinite normal;
}
#loading p span:nth-child(5){
    animation: loading_parts5 3s ease 0s infinite normal;
}
#loading p span:nth-child(6){
    animation: loading_parts6 3s ease 0s infinite normal;
}
#loading p span:nth-child(7){
    animation: loading_parts7 3s ease 0s infinite normal;
}
@keyframes loading_parts1{
    0%{
        top: 0em;
    }
    6%{
        top: -1em;
    }
    12%{
        top: 0;
    }
}
@keyframes loading_parts2{
    12%{
        top: 0em;
    }
    18%{
        top: -1em;
    }
    24%{
        top: 0;
    }
}
@keyframes loading_parts3{
    24%{
        top: 0em;
    }
    30%{
        top: -1em;
    }
    36%{
        top: 0;
    }
}
@keyframes loading_parts4{
    36%{
        top: 0em;
    }
    42%{
        top: -1em;
    }
    48%{
        top: 0;
    }
}
@keyframes loading_parts5{
    48%{
        top: 0em;
    }
    54%{
        top: -1em;
    }
    60%{
        top: 0;
    }
}
@keyframes loading_parts6{
    60%{
        top: 0em;
    }
    66%{
        top: -1em;
    }
    72%{
        top: 0;
    }
}
@keyframes loading_parts7{
    72%{
        top: 0em;
    }
    78%{
        top: -1em;
    }
    84%{
        top: 0;
    }
}
@keyframes loading_parts8{
    84%{
        top: 0em;
    }
    90%{
        top: -1em;
    }
    96%{
        top: 0;
    }
}
.wrap{
    scroll-snap-type: y mandatory;
    overflow: auto;
    width: 100%;
    height: 100vh;
}
.box{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    font-size: 1.5em;
    scroll-snap-align: start;
}
.box div{
    text-align:center;
    width: 100%;
}


.box:first-child{
    z-index:100;
}
.box:nth-child(2){
    z-index: 200;
}
.box:nth-child(3){
    z-index: 300;
}
.box:nth-child(4){
    z-index: 400;
}
.box:nth-child(5){
    z-index: 500;
}
.box:nth-child(6){
    z-index: 600;
}
.box:nth-child(7){
    z-index: 700;
}
.box:nth-child(8){
    z-index: 800;
}
.box:nth-child(9){
    z-index: 900;
}
.box:nth-child(10){
    z-index: 1000;
}
.box:nth-child(11){
    z-index: 1100;
}
.box:nth-child(12){
    z-index: 1200;
}
.box:nth-child(13){
    z-index: 1300;
}
.box:nth-child(14){
    z-index: 1400;
}
.box:nth-child(15){
    z-index: 1500;
}
.box:nth-child(16){
    z-index: 1600;
}
.box:nth-child(17){
    z-index: 1700;
}
.box:nth-child(18){
    z-index: 1800;
}
.box:nth-child(19){
    z-index: 1900;
}
